@import url('https://fonts.googleapis.com/css?family=Play&display=swap')

body
  margin: 0
  background: linear-gradient(to bottom, #ed213a, #93291e)

div, input, span, img, a
  display: flex
  flex-direction: column