.root
  align-items: flex-start
  margin-top: 15px
  +desktop()
    margin-top: 30px

.search
  background-image: url(https://image.flaticon.com/icons/svg/122/122932.svg)
  background-repeat: no-repeat
  background-size: 30px
  background-position: 5px 6px
  font-size: 26px
  outline: none
  border: none
  border-radius: 5px
  padding-top: 5px
  padding-bottom: 5px
  padding-left: 45px
  color: #C5383A
  font-family: 'Play', sans-serif
  &::placeholder
    color: #C5383A
  +desktop()
    align-self: center
