.root
  align-items: flex-start
  margin-top: 15px
  +desktop()
    margin-top: 30px
    row()
    justify-content: center

.search
  background-image: url(https://image.flaticon.com/icons/svg/122/122932.svg)
  background-repeat: no-repeat
  background-size: 30px
  background-position: 5px 6px
  font-size: 26px
  outline: none
  border: none
  border-radius: 5px
  padding-top: 5px
  padding-bottom: 5px
  padding-left: 45px
  color: #C5383A
  font-family: 'Play', sans-serif
  width: 100%
  box-shadow: 1px 3px 6px -4px #000000
  &::placeholder
    color: #C5383A
  +desktop()
    align-self: center
    width: auto

.button
  color: #C5383A
  background-color: white
  border-radius: 5px
  font-family: 'Play', sans-serif
  margin-top: 15px
  padding: 5px 8px 5px 8px
  font-size: 20px
  box-shadow: 1px 3px 6px -4px #000000
  +desktop()
    font-size: 26px
    margin-left: 10px
    margin-top: 0px
  &:hover
    cursor: pointer