.root
  align-items: center
  margin-top: 30px

.pagination
  row()
  flex-wrap: wrap

.page
  margin-right: 5px
  color: #C5383A
  background-color: white
  padding-top: 5px
  padding-bottom: 5px
  border-radius: 5px
  font-size: 14px
  font-family: 'Play', sans-serif
  width: 24px
  text-align: center
  margin-bottom: 4px
  &:hover
    cursor: pointer