.root
  align-items: center
  margin-top: 30px

.pagination
  row()
  flex-wrap: wrap

.page
  margin-right: 5px
  color: #C5383A
  background-color: white
  border: 1px solid transparent
  padding-top: 4px
  padding-bottom: 4px
  border-radius: 3px
  font-size: 14px
  font-family: 'Play', sans-serif
  width: 24px
  text-align: center
  margin-bottom: 4px
  transition: all 0.3s
  opacity: 0.7
  &:hover
    cursor: pointer
    border: 1px solid white
    opacity: 1
    color: white
    background: transparent

// .active
//   opacity: 1