.root
  padding-top: 20px
  padding-left: 30px
  padding-right: 30px
  background-image: url(/img/clipart.png)
  background-position: bottom
  background-size: 100%
  background-repeat: no-repeat
  padding-bottom: 80px
  +tablet()
    padding-bottom: 140px
  +desktop()
    padding-top: 30px
    padding-left: 80px
    padding-right: 80px
    padding-bottom: 224px
    background-image: url(/img/ash6.png), url(/img/pika2.png), url(/img/clipart.png)
    background-position: 135px 30px, right 40px top 30px, bottom
    background-repeat: no-repeat, no-repeat
    background-size: 180px, 340px, 100%

.mainTitle
  width: 250px
  align-self: center
  +desktop()
    width: 350px

.spinner
  display: none