.root
  background: linear-gradient(to bottom, #40e0d0, #ff8c00, #ff0080)
  // background: linear-gradient(to bottom, #f7ff00, #db36a4)
  // background: linear-gradient(to bottom, #ffb75e, #ed8f03)
  // background: linear-gradient(to bottom, #e65c00, #f9d423)
  // background: linear-gradient(to bottom, #f85032, #e73827)
  padding-top: 10px
  padding-left: 30px
  padding-right: 30px

.mainTitle
  width: 350px
  align-self: center