.root
  margin-top: 30px

.buttons
  align-items: flex-start
  flex-wrap: wrap

.button
  padding: 5px 10px 5px 10px
  background-color: #9F5B96
  color: white
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5)
  font-family: sans-serif
  border-radius: 5px
  font-size: 14px
  box-shadow: 1px 3px 6px -4px #000000